body {
  background: #fafafa;
  color: #333333;
  margin-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/*----------- NAVBAR: --------------------------------------------*/





.main-menu:hover,
nav.main-menu.expanded {
  width: 40%;
  overflow: visible;
}

.main-menu {
  position: fixed;
  /*<-nav sticks to the side*/
  overflow: hidden;

  background: #212121;
  border-left: 2px solid #e5e5e5;

  top: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 40px; /*DEBUG: EXPAND=ca.400px UNEXPAND=40px*/

  transition: width 0.1s linear;

  z-index: 1000;
}

.main-menu>ul {
  margin: 10px 0;
  /*<- margin top for the menu*/
  width: 100%;
}

.main-menu li {
  position: relative;
  display: block;

  width: 100%;
  /*width of menu list before expending*/
}

.main-menu li>a {
  position: relative;
  display: table;

  color: rgb(194, 194, 194);

  font-size: 15px;
  text-decoration: none;

  transition: all 0.1s linear;
  width: 100%;
  /*!?*/
}


.main-menu .nav-text {
  position: relative;
  display: table-cell;

  vertical-align: middle;

  width: 100%;

  font-family: 'Arial', sans-serif;

  white-space:nowrap; /*prevent line-break when closed*/
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

.icon {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  /* background-color: rgb(123, 123, 123); */

  /*background-color: rgb(123, 123, 123);*/

}

.icon_folder{
  transform: translateY(-6px);
}



nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a{
  color: #fff;
  background-color: #5fa2db;
}

/*SUBNAV NAVIGATION TOGGLE:*/
.subnav-a {
  position: relative;
  display: table;

  transition: 2s linear all;

  color: rgb(194, 194, 194);

  font-size: 15px;
  text-decoration: none;

  transition: all .1s linear;
  width: 100%;
}

.subnav {
  /*gets displayed when hovering over in js file*/
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.15s ease-in;
  font-size: 0.8em;
}
.main-menu li:hover > .visible{
  width: 100%;
  /**debug!!! border: 3px solid red;*/
}
.main-menu li:hover > .visible{
  margin-top: 0.1em;
}
.hidden {
  height: 0px;
  opacity: 0;
}

.visible {
  width: 400px; /*<-text no on the left when menu is closed*/
  height: 2em;
  opacity: 1;
  transition: all .3s linear;
}


.main-menu li:hover{
  border-left: 1px solid #5fa2db;
}



.subnav:hover{
  background-color: #5fa2db;
}
.sub-item{
  color: rgb(194, 194, 194);
  margin-left: 40px;
}

.subnav-a:hover {
  color: #fff;
  background-color: #5fa2db;
  cursor: pointer;
  border-left: 5px solid transparent;
}

.main-menu li:hover > .subnav-a{
  color: white;
  background-color: #5fa2db;
}
/*PLUS/MINUS_ICON:*/
.subnav_icon{
  display: table-column;
  position: relative;
  float: right; 
  right: 35%;
  
  vertical-align: middle;
  width: 45px;
  height: 45px;
  padding: 5px;
  text-align: center;
  font-size: 20px;

  
  border-radius: 5px;
  border: solid 2px transparent;
  margin: 0 5px 5px 0;
  transition: border-color 0.4s ease-out;
  transform: scale(1, 1);
}

.plus_icon{
  margin-top: 41%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
  transform-origin: 7px;
}
.subnav-a:hover > .subnav_icon > .plus_icon::before{
  background-color: white;
}
.subnav-a:hover > .subnav_icon > .plus_icon::after{
  background-color: white;
}
.plus_icon::before{
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  content: '';
  position: absolute;
  display: block;
}
.subnav:hover{
  background-color: rgb(131, 188, 223); /*<- subnav background color on:hover*/
}
.subnav:hover > a > .sub-item{
  color: white; /*subnav text color on:hover*/
}

.plus_icon::after{
  transform: rotate(90deg);
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  content: '';
  position: absolute;
  display: block;
}

.minus_icon{
  position: absolute;
  margin-top: 41%;
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  transform-origin: 50%;
}

.minus_icon::before{
  content: '';
  position: absolute;
  display: block;
}

.minus_icon::after{
  content: '';
  position: absolute;
  display: block;
}


.icon_hidden {
  height: 0px;
  opacity: 0;
  transform: rotate(0deg);
}

.icon_visible {
  width: 15px; /*<-text no on the left when menu is closed*/
  height: 1px;
  opacity: 1;
  transform: rotate(180deg);
}
.subnav-a:hover > .subnav_icon > .minus_icon{
  background-color: white;
}

/*USER TOOL AT BOTTOM:_____________________________________________*/

.user_tool{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color:#1f1a20;
  display: flex;
  padding-right: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

img.user_tool_profileimg{
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 2px;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

img.user_tool_profileimg:hover{
  border: 1px solid rgb(28, 188, 206);
  cursor: pointer;
}
.main-menu:hover > .user_tool > .user_tool_profileimg-a > .user_tool_profileimg {
  width: 40px;
  height: 40px;
  margin-top: 0px;
}
.user_tool a{
  margin-right: 5px;
}
.user_tool_info{
  position: relative;
  flex: 1;
}
.user_tool a{
  color:#b1b1b1;
}
.user_tool a:hover{
  color:white;
}

.float_right{
  position: relative;
  float: right;
}

.user_tool_icon{
  position: relative;

  vertical-align: middle;

  width: 30px;
  height: 30px;
   /*<-- scale!!*/
  text-align: center;
  font-size: 20px;
  background-color: rgb(254, 207, 89);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  transition: all 0.1s ease;
}

.user_tool_icon:hover{
  width: 35px;
  height: 35px;
  
  border: 1px solid rgb(28, 188, 206);
}

/*user_tool_usermenu:!! toggled with main_menu.js*/
.user_tool_usermenu{
  position: relative;
  overflow: hidden;
  background: #212121;
  border-left: 2px solid #e5e5e5;
  top: -100%;
  bottom: 0;
  right: 100%;
  z-index: 1000;
  transition: all 0.1s linear;
}
.user_tool_usermenu.usermenu_visible ul > li > a{
  color: rgb(194, 194, 194);
  padding: 10px;
}
.user_tool_usermenu.usermenu_visible > ul >li > a:hover{
  color: white;
}

.usermenu_hidden{
  opacity: 0;
}
.usermenu_visible{
  opacity: 1;
}





/*----------- BLOG: --------------------------------------------*/
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}