body {
  background: #fafafa;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/*----------- NAVBAR: --------------------------------------------*/


.main-menu:hover,
nav.main-menu.expanded {
  width: 40%;
  overflow: visible;
}

.main-menu {
  position: fixed;
  /*<-nav sticks to the side*/
  overflow: hidden;

  background: #212121;
  border-left: 2px solid #e5e5e5;

  top: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 40px;
  /*DEBUG: EXPAND=ca.400px UNEXPAND=40px*/

  transition: width 0.1s linear;

  z-index: 1000;
}

.main-menu>ul {
  margin: 10px 0;
  /*<- margin top for the menu*/
  width: 100%;
}

.main-menu li {
  position: relative;
  display: block;

  width: 100%;
  /*width of menu list before expending*/
}

.main-menu li>a {
  position: relative;
  display: table;

  color: rgb(194, 194, 194);

  font-size: 15px;
  text-decoration: none;

  transition: all 0.1s linear;
  width: 100%;
  /*!?*/
}


.main-menu .nav-text {
  position: relative;
  display: table-cell;

  vertical-align: middle;

  width: 100%;

  font-family: 'Arial', sans-serif;

  white-space: nowrap;
  /*prevent line-break when closed*/
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

.icon {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  /* background-color: rgb(123, 123, 123); */

  /*background-color: rgb(123, 123, 123);*/

}

.icon_folder {
  transform: translateY(-6px);
}



nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
}

/*SUBNAV NAVIGATION TOGGLE:*/
.subnav-a {
  position: relative;
  display: table;

  transition: 2s linear all;

  color: rgb(194, 194, 194);

  font-size: 15px;
  text-decoration: none;

  transition: all .1s linear;
  width: 100%;
}

.subnav {
  /*gets displayed when hovering over in js file*/
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.15s ease-in;
  font-size: 0.8em;
}

.main-menu li:hover>.visible {
  width: 100%;
  /**debug!!! border: 3px solid red;*/
}

.main-menu li:hover>.visible {
  margin-top: 0.1em;
}

.hidden {
  height: 0px;
  opacity: 0;
}

.visible {
  width: 400px;
  /*<-text no on the left when menu is closed*/
  height: 2em;
  opacity: 1;
  transition: all .3s linear;
}


.main-menu li:hover {
  border-left: 1px solid #5fa2db;
}



.subnav:hover {
  background-color: #5fa2db;
}

.sub-item {
  color: rgb(194, 194, 194);
  margin-left: 40px;
}

.subnav-a:hover {
  color: #fff;
  background-color: #5fa2db;
  cursor: pointer;
  border-left: 5px solid transparent;
}

.main-menu li:hover>.subnav-a {
  color: white;
  background-color: #5fa2db;
}

/*PLUS/MINUS_ICON:*/
.subnav_icon {
  display: table-column;
  position: relative;
  float: right;
  right: 35%;

  vertical-align: middle;
  width: 45px;
  height: 45px;
  padding: 5px;
  text-align: center;
  font-size: 20px;


  border-radius: 5px;
  border: solid 2px transparent;
  margin: 0 5px 5px 0;
  transition: border-color 0.4s ease-out;
  transform: scale(1, 1);
}

.plus_icon {
  margin-top: 41%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
  transform-origin: 7px;
}

.subnav-a:hover>.subnav_icon>.plus_icon::before {
  background-color: white;
}

.subnav-a:hover>.subnav_icon>.plus_icon::after {
  background-color: white;
}

.plus_icon::before {
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  content: '';
  position: absolute;
  display: block;
}

.subnav:hover {
  background-color: rgb(131, 188, 223);
  /*<- subnav background color on:hover*/
}

.subnav:hover>a>.sub-item {
  color: white;
  /*subnav text color on:hover*/
}

.plus_icon::after {
  transform: rotate(90deg);
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  content: '';
  position: absolute;
  display: block;
}

.minus_icon {
  position: absolute;
  margin-top: 41%;
  width: 15px;
  height: 1px;
  background-color: #b1b1b1;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  transform-origin: 50%;
}

.minus_icon::before {
  content: '';
  position: absolute;
  display: block;
}

.minus_icon::after {
  content: '';
  position: absolute;
  display: block;
}


.icon_hidden {
  height: 0px;
  opacity: 0;
  transform: rotate(0deg);
}

.icon_visible {
  width: 15px;
  /*<-text no on the left when menu is closed*/
  height: 1px;
  opacity: 1;
  transform: rotate(180deg);
}

.subnav-a:hover>.subnav_icon>.minus_icon {
  background-color: white;
}

/*USER TOOL AT BOTTOM:_____________________________________________*/

.user_tool {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #1f1a20;
  display: flex;
  padding-right: 40px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

img.user_tool_profileimg {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
  margin-top: 5px;
  margin-left: 2px;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

img.user_tool_profileimg:hover {
  border: 1px solid rgb(28, 188, 206);
  cursor: pointer;
}

.main-menu:hover>.user_tool>.user_tool_profileimg-a>.user_tool_profileimg {
  width: 40px;
  height: 40px;
  margin-top: 0px;
}

.user_tool a {
  margin-right: 5px;
}

.user_tool_info {
  position: relative;
  flex: 1;
}

.user_tool a {
  color: #b1b1b1;
}

.user_tool a:hover {
  color: white;
}

.float_right {
  position: relative;
  float: right;
}

.user_tool_icon {
  position: relative;

  vertical-align: middle;

  width: 30px;
  height: 30px;
  /*<-- scale!!*/
  text-align: center;
  font-size: 20px;
  background-color: rgb(254, 207, 89);
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 5px;
  transition: all 0.1s ease;
}

.user_tool_icon:hover {
  width: 35px;
  height: 35px;

  border: 1px solid rgb(28, 188, 206);
}

/*user_tool_usermenu:!! toggled with main_menu.js*/
.user_tool_usermenu {
  position: relative;
  overflow: hidden;
  background: #212121;
  border-left: 2px solid #e5e5e5;
  top: -100%;
  bottom: 0;
  right: 100%;
  z-index: 1000;
  transition: all 0.1s linear;
}

.user_tool_usermenu.usermenu_visible ul>li>a {
  color: rgb(194, 194, 194);
  padding: 10px;
}

.user_tool_usermenu.usermenu_visible>ul>li>a:hover {
  color: white;
}

.usermenu_hidden {
  opacity: 0;
}

.usermenu_visible {
  opacity: 1;
}





/*----------- BLOG: --------------------------------------------*/
.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

/*<-- index.html -->*/
.splash-wrapper {
  background: #621163;

}

.me_svg {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;

  transition: opacity .2s, transform 0.5s;

  width: 300px;
  height: 300px;

  z-index: 1;
}

.me_hidden {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  width: 300px;
  height: 300px;

  margin-top: -300px;
  opacity: 0;
  transition: opacity .2s, transform 0.5s;
  z-index: 2;
}

.me:hover>.me_hidden {
  opacity: 1;
  transform: rotateY(180deg);
}

.me:hover>.me_svg {
  cursor: pointer;
  transform: rotateY(180deg);
  opacity: 0;
}

.splash-top {
  padding-top: 4em;
  padding-bottom: 4em;
}

.splash-top h1 {
  color: #e6bbfe;
  text-align: center;
}

.splash-top h2 {
  color: #e2acff;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  font-weight: 100;
}

.splash {
  width: 100%;
}

.splash-after {
  background: #2d0742;
  text-align: center;
  color: white;

  /*
  gets rid of 1px pink line at the intersection of splash-wrapper 
  behind the svg and this background color
  */
  transform: translateY(-2px);

  padding-top: 7em;
  padding-left: 11em;
  padding-right: 11em;
  padding-bottom: 2em;
}
.splash-after_1 h1{
  color: white;
  text-align: right;
  border-bottom: 1px solid white;
}
.splash-after-wrapper{
  display: flex;
  padding: 3em;
  background: #2d0742;
  transform: translateY(-2px);
}
.splash-after p {
  color: white
}
.splash-after h1{
  color: white;
  text-align: right;
  border-bottom: 1px solid white;
}
.splash-after-git{
  display: inline-block;
  position: relative;
  background: #1d042b;

  margin-top: 3em;
  width: 10em;
  box-sizing: border-box;
  border-radius: 50%;
  
  transition: all 0.3s ease-in-out;
  animation: blink 3s infinite linear;
  animation-direction: alternate-reverse;
  
}

@keyframes blink {
  0% {transform: rotateY(0deg);}
  5% {transform: rotateY(0deg); transform: translateY(-20px);}
  10% {transform: rotateY(0deg); transform: translateY(0px);}
  80% {transform: rotateY(0deg);}
  90% {transform: rotateY(180deg);}
  100%{transform: rotateY(360deg);}
}

.splash-after_1 {
  background: #2d0742;
  text-align: center;
  color: white;

  /*
  gets rid of 1px pink line at the intersection of splash-wrapper 
  behind the svg and this background color
  */
  transform: translateY(-2px);

  padding-top: 3em;
  padding-left: 2em;
  padding-right: 11em;
  padding-bottom: 2em;
}
.splash-after p {
  color: white
}

.splash-after-svgtop{
  background: #2d0742;
  transform: translateY(-2px);
  margin-top: 4em;
}
.svgbot-2{
  padding-right: 2em;
  margin-top: -2em;
}
.splash-after-git:hover{
  background: white;
}

.bigger_txt {
  font-weight: bold;
  display: inline-block;
  color: rgb(166, 11, 255);
}

.divider {
  height: 50vh;
  background: #621163;
  transform: translateY(-2px);
}

/*stecker part::*/
.stecker {
  width: 100%;
  background: #621163;
}

.stecker p {
  margin: 0;
}

.stecker svg {
  transform: translateY(-3px);
}

.placeholder {
  height: 400px;
  width: 100%;
}

/*JS SCRIPTS:: url_controller.js changes:*/
.querystring_firma {
  display: inline-block;
}

.querystring_firma::first-letter {
  text-transform: uppercase;
}

.querystring_firma_warumich {
  color: white;
  text-align: center;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 5em;

  background: #2d0742;
  transform: translateY(-3px);
}
.querystring_firma_warumich h1{
  color: white;
  text-align: right;
  border-bottom: 1px solid white;
}

.wave-divider {
  background-color: #2d0742;
  transform: translateY(-3px);
  width: 100%;
}

.number-wrapper {
  background: #1d042b;
  position: relative;
  z-index: 10;
  transform: translateY(-3px);
  text-align: center;
  border-bottom: 1px solid white;
  box-shadow: 0px 5px #2c7865, 0px 10px #2a1a63, 0px 15px #410c25;
}

.number-counter {
  display: inline-block;
  text-align: center;
  border-radius: 3%;

  margin: 3em;

}

.number-counter p {
  color: white;
  display: inline-block;
}

.number-counter .querystring_firma {
  color: white;
  display: inline-block;
}

.number-counter h1 {
  color: white;
  margin: -0.2em;
  font-size: 6.5em;
}

/*<---- TOOLS_wrapper*/

.tools_wrapper {
  background: #170421;
  transform: translateY(-3px);
}

.headline {
  text-align: center;
  padding: 4em;
}

.headline h1 {
  color: white;
  font-weight: bold;
}

.headline h2 {
  color: white;
  font-weight: lighter;
}

.tools-nav {
  padding: 3em;
}

.tools-nav button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: rgba(99, 99, 99, 0.25);
  border: 1px solid rgba(203, 159, 254, 0.55);
  -webkit-transition: .4s;
  transition: .4s;
}

.tools-nav .active {
  background-color: rgba(132, 42, 233, 0.55);
}

.btn:hover {
  color: white;
  background: rgba(132, 42, 233, 1);
}

.items-grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(7, 1.2fr);
  grid-gap: 50px;
}

.gridscaler {
  padding: 3em;
}

.gridicon {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 50%;
  transition: all 0.1s ease;
  cursor: pointer;
}
.gridicon-img {
  margin: 1em;
}

.griditem{
  text-align: center;
  display: none; /*gets turned on individually based on active nav tab*/
  transform: scale(1);
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}

.griditem p {
  margin-top: 10px;
  color: white;
}

.gridicon:hover {
  padding-bottom: 102%;
  transform: scale(1.1);
  border: 1px solid rgba(132, 42, 233, 1);
}

.active-gridicon {
  background: #ffffff;
}

.message-panel {
  /*width: calc(50% - 80px);*/
  text-align: center;
}

.msg-container {
  position: sticky;
  z-index: 10;
  bottom: 0;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 6em;
  padding-right: 6em;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.activemsg {
  opacity: 1;
  /*transitions to this when class is added in skills.js*/
}

.msg-btn {
  position: absolute;
  padding: 5px 18px;
  margin-left: 1em;
  left: 0;
  top: 0;
  border-radius: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  background-color: rgba(203, 159, 254, 1);
  border: 1px solid rgba(203, 159, 254, 0.55);
  -webkit-transition: .4s;
  transition: .4s;
}

.msg-btn:hover {
  background-color: rgba(132, 42, 233, 1);
}

._show{ /**/
  display: block;
}

svg#Artboard_1_1_{
  width: 50em;
  transition: all 0.2s linear;
}
g#Rectangle_1{
  animation: type 3s infinite linear;
}

@keyframes type {
  0% {opacity: 1;}
  49% {opacity: 1;}
  50%{opacity: 0;}
  99%{opacity: 0;}
  100%{opacity: 1;}
}

g#highlight_screen{
  animation: reflect 20s infinite linear;
}
g#Screen{
  animation: reflect2 20s infinite linear;
}

@keyframes reflect {
  0% {opacity: 0.102;}
  97% {opacity: 0.102;}
  98%{opacity: 0.11;}
  100%{opacity: 0.102;}
}
@keyframes reflect2 {
  0% {opacity: 1;}
  94% {opacity: 1;}
  96%{opacity: 0;}
  100%{opacity: 1;}
}

/*-------------QUERIES::*/
@media only screen and (max-width: 1150px) {
  body {
    background-color: lightblue;
  }
}